.login-card {
    width: 600px;
    margin: auto;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 5rem;
}

.login-header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#loading {
    margin-left: 7px;
    margin-top: 2px;
    position: absolute;
}
.logo {
    margin-bottom: 10px;
    margin-top: 20px;
}

.rectangle {
    width: 1px;
    height: 45px;
    background-color: #2a2a2a;
    margin-top: 26px;
    margin-left: 28px;
    margin-right: 21px;
}

.title {
    font-family: 'Billabong', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0.025em;
    margin-top: 28px;
}

.username-input, .password-input {
    height: 57px;
    width: 509px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    text-indent: 15px;
}

.username-input::placeholder, .password-input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #E6E6E6;
    font-size: 15px;
}

.username-input {
    margin-top: 3rem;
}

.password-input {
   margin-top: 5px;
}

.button-div {
    text-align: end;
}

.login-form {
    margin-left: 45px;
    margin-right: 45px;
}

.login-button {
    background: #5197E9;
    border-radius: 3px;
    border: #5197E9;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.025em;
    color: #FFFEFE;
    width: 118px;
    height: 45px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.reg-link {
    margin-right: 35px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #262626;
    letter-spacing: 0.025em;
    text-decoration: none;
}

.username-error, .password-error, .username-password-error {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.025em;
    color: #CB5B5B;
}

.username-error-div, .username-error-req {
    height: 30px;
}

.username-no-error {
    height: 40px;
}

.username-error {
    margin-top: 10px;
}

.password-error {
    margin-bottom: 20px;
    margin-top: 10px;
}

.password-error-req, .password-error-div {
    height: 65px;
}

.password-no-error {
    height: 75px;
}

.username-password-error {
    margin-top: 10px;
}

.material-icons {
    cursor: pointer;
    margin-left: -35px;
    vertical-align: middle;
}
